#calcModal .calculated-sums {
    display: inline-block;
    border: 1px solid #666;
    padding: 5px;
}

#calcModal .calculated-sums span {
    display: inline-block;
    min-width: 40px;
    text-align: center;
}

#calcModal .total-sums {
    display: inline-block;
    margin-left: 20%;
}

#calcModal .modal-body {
    padding-left: 30px;
}

#calcModal .total-sums hr {
    border: none;
    height: 1px;
    background-color: #666;
    color: #666;
}

#calcModal .total-sums hr:first-of-type {
    margin-bottom: 0;
}

#calcModal .total-sums hr:last-of-type {
    margin-top: 4px;
    margin-bottom: 6px;
}

#calcModal .form-control {
    max-width: 50%;
}

#calcModal .size {
    max-width: 45%;
    min-width: 200px;
}

#calcModal .discount {
    padding-left: 15px;
    text-align: left;
}

#calcModal .size:last-of-type {
    margin-left: 10px;
}

#calcModal .grey {
    color: #7c7a7a;
}

@media only screen and (min-width: 768px) {
    #calcModal {
        overflow: hidden;
    }

    #calcModal .modal-body {
        overflow: auto;
        height: 80vh;
    }

    #calcModal .modal-fixed {
        position: fixed;
        right: 30px;
    }
}