#calcModal .calculated-sums {
    display: inline-block;
    border: 1px solid #666;
    padding: 5px;
}

#calcModal .calculated-sums span {
    display: inline-block;
    min-width: 40px;
    text-align: center;
}

#calcModal .total-sums {
    display: inline-block;
    margin-left: 20%;
}

#calcModal .modal-body {
    padding-left: 30px;
}

#calcModal .total-sums hr {
    border: none;
    height: 1px;
    background-color: #666;
    color: #666;
}

#calcModal .total-sums hr:first-of-type {
    margin-bottom: 0;
}

#calcModal .total-sums hr:last-of-type {
    margin-top: 4px;
    margin-bottom: 6px;
}
#calcModal label {
    color: #4a4a4a;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}

#calcModal .itemName {
    width: 70%;
}

#calcModal .detailsNumber {
    width: calc(70% - 14px);
    display: inline-block;
}

#calcModal .detailsNumber + span {
    width: 14px;
}

#calcModal .size {
    width: 31%;
    display: inline-block;
}

#calcModal .size + div {
    display: inline-block;
    width: 5%;
}

#calcModal .size:last-of-type {
    margin-left: 3%;
}

#calcModal .discount {
    padding-left: 15px;
    text-align: left;
}

#calcModal .grey {
    color: #7c7a7a;
}

@media only screen and (min-width: 768px) {
    #calcModal {
        overflow: hidden;
    }

    #calcModal .modal-body {
        overflow: auto;
        height: 80vh;
    }

    #calcModal .modal-fixed {
        position: fixed;
        right: 30px;
    }
}