.calculated-sums {
    display: inline-block;
    border: 1px solid #666;
    padding: 5px;
}

.calculated-sums span{
    display: inline-block;
    min-width: 40px;
    text-align: center;
}

.total-sums {
    display: inline-block;
    margin-left: 20%;
}

.total-sums hr {
    border: none;
    height: 1px;
    background-color: #666;
    color: #666;
}

.total-sums hr:first-of-type {
    margin-bottom: 0;
}

.total-sums hr:last-of-type {
    margin-top: 4px;
    margin-bottom: 6px;
}